body {  
    background: #151515;  
    color: #666;  
} 

figcaption {
    color: white;
    font-family: 'Archivo Narrow', sans-serif; 
}

figure {
    float: left;
}

header h1{  
    font-family: 'Archivo Narrow', sans-serif; 
    font-size: 100px;  
    font-weight: bold;  
    color: yellow;
    text-align: center;  
    margin: 0 auto;  
    width:800px;  
    margin-bottom:50px;  
    margin-top:50px;
}  

hr {  
    margin: 20px;  
    border:none;  
    border-top: 1px solid #111;  
    border-bottom: 1px solid #333;  
}  


img{  
    margin: 5px;  
    height: auto;
    max-width: 100%;
    /*width: 250px;
    height: 188px;*/
}  

p {  
    color:#444;  
    text-align:left;  
    font-size:10px;  
    margin-left: 20px;  
    margin-bottom: -10px;  
}  

a {  
    color:#444;  
}  

img:hover {  
    border-color:#555;  
    -moz-box-shadow: 0px 0px 10px #111;  
    -webkit-box-shadow: 0px 0px 10px #111;  
} 

h5 {
	margin-top: 0px;
	margin-bottom: 20px;
	margin-left: 5px;
	max-width: auto;
	color: white;
}

.pics {
}

